* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: Montserrat, Courier;
    font-size: 13px;
    line-height: 18px;
    color: #515076;
    font-weight: 400;
}

.main-title {
    font-size: 70px;
    line-height: 78px;
    text-align: center;
    width: 846px;
    height: 78px;
    font-weight: 400;
    position: absolute;
    top: 220px;
    left: 217px;
}

.background {
    background-image: url('/images/background_image.png');
    background-size: 790px 697px;
    width: 790px;
    height: 697px;
    background-position: 85px 0px;
    background-repeat: no-repeat;
}

.card-container {
    width: 340px;
    height: 573px;
    padding: 25px;
    background-color: #F7F7FA;
    box-shadow: 2px 2px 10px 0px rgba(81, 80, 118, 0.1);
}

.product-category {
    margin-top: 30px;
    margin-bottom: 5px;
    font-size: 12px;
    line-height: 24px;
    text-transform: uppercase;
    color: #A5A3B9;
    display: block;
}

.product-name {
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
    margin-bottom: 5px;
}

.description {
    margin-bottom: 15px;
}

.product-compound {
    margin-top: 5px;
    list-style: circle;
    margin-bottom: 25px;
}

.product-compound-item {
    margin-left: 14px;
}

.product-price-label {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
}

.product-price {
    font-size: 20px;
    line-height: 24px;
}

.card-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 45px;
  list-style: none;
  margin-left: 85px;
  margin-top: -310px;
  position: relative;
  width: 1110px;
  height: 1191px;
  list-style-type: none;
  align-items: center;
}

.product-price-container {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.buttons-panel {
  display: flex;
  justify-content: flex-start;
  padding-left: 400px;
  position: relative;
  z-index: 15;
  top: -325px;
  left: 70.6%;
  gap: 15px;
  transform: translateX(-90.7%);
}

.bg-yellow {
  background-color: yellow;
}